<h4>All posts!</h4>

<ul>
  <% @posts.each do |post| %>
    <li> <%= link_to post.title, post_path(post) %> 
    (<%= link_to 'edit', edit_post_path(post) %>) </li>
  <% end %>
</ul>

<!-- <form action="/posts/new">
  <input class="btn btn-primary" type="submit" value="Create Post">
</form> -->