/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label, .badge  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

.cb {
  margin-top: -20px;
  boder: 10px solid red;
  background-color: red;
}

.btn-outline {
  color: #FF9900;
  border:1px solid #FF9900;
}

.btn-outline:hover {
  color: #FF6600;
}

.nav {
  font-color: #FF9900;
}p





.icon-plus {
  color: #FF9900;
}

.myapp {
  font-size: 1.2em;
}

.lead-title {
  font-size: 1.3em;
  margin-top: 35px;
}

.navbar .nav > li > a.brand {
  font-size: 1.6em;
  colour: orange;
  margin-right: 230px;
  margin-left: -110px;
}

.navbar .nav > li > a.brand {
  color: orange;
  font-family: 'Cinzel';
}

.navbar .nav > li > a.brand:hover {
  color: #0088cc;
}

.navbar .navbar-inner {
  height: 60px;
}

.navbar .navbar-inner .container {
  margin-top: 11px;
}

.space_under_lead_title {
  min-height: 50px;
}

.icon-plus {
  color: orange;
}

.dropdown-menu > li > a {
  color: orange;
}

.badge {
  margin-left: 10px;
}

.hr_post {
  border-color: #cccddd -moz-use-text-color white;
  border-image: none;
  border-style: solid;
  border-width: 1px 0;
}

.comments_on_post {
  float: right;
}

.well {
  padding-bottom: -15px !important;
}